* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  color: var(--gray-900);
}
:root {
  --gray-600: #475767;
  --gray-900: #101828;

  --success-50: #ecfdf3;
  --success-700: #027a48;
}

header {
  width: 100%;
  border-top: .75rem solid #7f56d9;
  padding: 4rem 5rem;
}

h1 {
  font-weight: 600;
  font-size: 3.75rem;
}