.navigate {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}
.navigate img {
  width: 32px;
  height: 32px;
}

.navigate-text {
  font-size: 1.5rem;
}
.navigate-text > span:not(:first-child) {
  font-weight: 600;
}

.header-wrapper {
  margin-top: 8rem;
  max-width: 61rem;
}
.header-wrapper h1 {
  font-size: 3.75rem;
  letter-spacing: -0.02em;
}
.header-wrapper > p {
  color: var(--gray-600);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 1.25rem;
}

.header-title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.header-title button {
  background: var(--success-50);
  border-radius: 0.5rem;
  border: 1px solid var(--success-50);
  color: var(--success-700);
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.5rem;
  padding-block: .5rem;
  padding-inline: 1rem;
}
